@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #96c93d,
    #00b09b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
  padding-right: 1rem;
}

nav ul li {
  font-size: 24px;
  margin: 5px;
}

.layout {
  background-color: rgb(205, 252, 230);
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  margin: 20px 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav .selected {
  border-bottom: 3px solid white;
}
